.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    padding-top: 10px;
}

.header{
    color: #555;
    padding-left: 70px;
  }

p{
    color: #999;
}

img.card-img-top{
    width: 400px;
}

div.card-body{
    width: 400px;
}

div.card{
    border: 1px solid transparent !important
}

.card-2{
    margin-bottom: 2px;
}
.card-3{
    margin-bottom: 2px;
}