.navbar{
    display: flex !important; 
    flex-direction: column;
    align-items: center !important; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #013914;
    color: white;
    transition: 0.5s all ease; 
    position: sticky !important; 
    top: 0;
    z-index: 999;

    &.active{
        background-color: white;
        color: #444;

        button {
            background-color: white !important;
            color: #1dbf73 !important;
            border: 1px solid #1dbf73 !important;
          }
    }

    .container{
        width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
        .logo{
            font-size: 34px;
            font-weight: bold;
            .dot{
                font-weight: bold;
                color: #56b156;
            }
        }
        .links{
            display: flex;
            align-items: center;
            gap: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 500;

            img{
                width: 18px;
            }

            span{
                white-space: nowrap;
            }

            button{
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                background-color: transparent;
                cursor: pointer;

                &:hover{
                    background-color: #56b156;
                    border-color: #56b156;
                }
            }
        }
    }

    hr{
        width: calc(100% - 2px);
        height: 0;
        bottom: 0.5px solid #ebe9e9;
        border-bottom: 0.5px solid #ebe9e9;
    }

    .menu{
        width: 1400px;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        color: gray;
        font-weight: 300;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}